@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

/*GENERAL STYLES*/

.header-text {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 20px;
	text-decoration: underline;
}

.header-text-2{
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 20px;
}
.text-filter-title{
	font-weight:500;
}

.text-filter{
	font-weight:400;
}


.subTitle-text {
	font-size: 22px;
	margin: 0;
}

.small-text {
	font-size: 16px;
}

.general-text {
	font-size: 20px;
}

.gold-color {
	color: #d6ab55;
}

/*NAVBAR*/
.navbar-toggle-1{
	background-color: rgba(0, 0, 0, 0.6);
}
.navbar-toggle-2{
	background-color: #641314ea;
}
.navbar-color{
	color: #fff;
	position: absolute;
	z-index: 10;
	top: 0;
	width: 100%;
	max-width: 100%;
}

.offcanvas-style {
	background-color: rgba(0, 0, 0, 0.6) !important;
	display: flex !important;
	justify-content: space-between !important;
}

.aling-text-right {
	margin-left: auto;
}

.mobile-only {
	margin-top: 20px;
	text-align: center;
}
.logo-cont {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.logo-link {
	width: 201px;
	min-width: 201px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.util-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.lt-m {
	margin-left: 5%;
	margin-right: 5%;
}

.logo-letters {
	font-family: "Arvo", serif;
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 42px;
	margin: 10px 0 0 0;
	color: #fff;
}

.service-letters {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 15px;
	margin: 5px 0 0 15px;
	color: #fff;
}
.link-letters {
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.5px;
}

.link-letters:focus {
	color: #d6ab55;
}

.link-letters:hover {
	color: #d6ab55;
}

.li-margin {
	margin: 15px;
}

.contact-bold {
	font-weight: 600;
}

i {
	font-family: "Montserrat", sans-serif;
}

/*HOME*/
/* HOME -> carrousel */
.carrousel-img {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100vh;
	min-height: 100vh;
	min-width: 100%;
}

.opacity-layer {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	text-align: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.658);
	color: rgb(255, 255, 255);
}

.search-cont {
	margin-top: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.select-search {
	width: 150px;
	color: #fff;
	border: 1px solid #fff;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0);
}

.select-search option {
	color: #000;
	background-color: #fff;
}

.btn-search {
	color: #fff;
	border: 1px solid #fff;
	font-size: 18px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0);
}

.btn-search:hover {
	color: #fff;
	border: 1px solid #d6ab559e;
	background-color: #d6ab555e;
}

.search-input-cont {
	width: 45%;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	align-items: flex-end;
	border: 1px solid #fff;
	border-right-style: none;
	border-top-style: none;
	border-left-style: none;
}

.search-input {
	padding: 5px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

.search-input::placeholder {
	color: #fff;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
}

.search-input:focus {
	outline: none;
}

.search-input:read-write {
	color: #fff;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
}

.logo-dw {
	position: absolute;
	bottom: 20px;
}

.textP {
	font-weight: 400;
	font-size: 45px;
	line-height: 59px;
	color: #fff;
	margin: 5px;
}

.our-props-title {
	text-align: center;
	margin-bottom: 30px;
}

.about-us-title {
	margin-bottom: 30px;
}

.no-margin {
	margin: 0;
	padding: 0;
}

.gray-color {
	background-color: #f9f9f9;
}

.section-space {
	padding: 60px 5%;
}

/* HOME -> card images */
.home-cards-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	margin: 0 10px;
	min-width: 300px;
	max-width: 300px;
	margin-bottom: 20px;
	padding: 0;
	width: 300px;
	border-radius: 6px;
}

.gold{
	background-color: #d6ab55ea;
}
.redbrown{
	background-color: #641314eb;
}

.top-box {
	border-radius: 6px;
	max-height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-size: 14px;
	font-weight: 200;
	padding: 0px 5px;
	position: absolute;
	top: 25px;
	right: 10px;
	transform: translateY(-50%);
	z-index: 1;
}

.card-img {
	margin: 0;
	width: 300px;
	height: 200px;
	max-height: 200px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.not-image-card{
	width: 280px;
	height: 180px;
	max-height: 200px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.icons-carrousel{
	color: #d6ab55 !important;
}

.info-container {
	padding: 10px;
}

.card-title {
	font-size: 20px;
}

.card-description-cont {
	height: 80px;
	max-height: 80px;
	min-height: 80px;
	overflow: hidden;
}

.card-price {
	font-size: 18px;
	font-weight: 400;
	text-overflow: ellipsis;
}

.icons-container {
	margin-top: 10px;
}

.icon-text {
	margin: 10px 5px 10px 0px;
	font-size: 16px;
	color: rgb(53, 53, 53);
	text-transform: capitalize;
}

.button-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-dw {
	background-color: #641315;
	width: 120px;
	height: 35px;
	color: #fff;
	border-style: none;
	border-radius: 4px;
	font-size: 20px;
}

.btn-dw:hover {
	color: #d6ab55;
	border: 2px solid #d6ab55;
}

.margin-btn {
	margin: 40px 20px 20px 20px;
}

/* HOME -> service section */
.service-section {
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	height: 150px;
	max-height: 150px;
	background-image: url("../images/casaQ.jpg");
	background-size: cover;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.868);
}

.item-serv-cont {
	margin-top: 15px;
	margin-left: 2px;
	margin-right: 2px;
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	color: #fff;
}

.description-icon {
	margin-top: 5px;
	text-align: center;
}

.service-icons {
	width: 70px;
	height: 70px;
}

/* HOME -> developments section */
.development-card {
	display: flex;
	align-items: center;
	width: 80%;
	margin: 60px auto 0px auto;
	border-radius: 6px;
	border: 1px solid rgba(7, 7, 7, 0.215);
}

.dev-img {
	width: 250px;
	height: 250px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.dev-img-reverse {
	width: 250px;
	height: 250px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.dev-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	margin: 0 auto;
	width: 70%;
}

.dev-info-reverse {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
	width: 70%;
}

.dev-description {
	text-align: right;
	margin-left: 5px;
}

.margin-dev-btn {
	margin-top: 10px;
}

.reverse {
	flex-direction: row-reverse;
}

/* HOME -> separator2 */
.separator2-home {
	margin-bottom: 20px;
	width: 100%;
	height: 150px;
	max-height: 150px;
	background-image: url("../images/keys.png");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.868);
}

.eslogan-1 {
	text-align: center;
	width: 70%;
	margin-top: 15px;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
}

/* HOME -> contact section */

.contact-container {
	width: 90%;
	padding: 10px;
	height: auto;
	margin: 20px auto;
	border-radius: 6px;
	border: 1px solid rgba(7, 7, 7, 0.215);
}

.round-borders {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.mapouter {
	position: relative;
	text-align: right;
	width: 100%;
	height: 240px;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	width: 100%;
	height: 240px;
}

.gmap_iframe {
	height: 240px !important;
}

.contact-info {
	width: 90%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	flex-direction: row;
}

.icon-contact {
	font-size: 24px;
}
.info-cont-data {
	width: auto;
	margin: 0px 5px;
}

/* FOOTER */

.footer-style {
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	background-color: rgba(39, 39, 39, 0.97);
	color: #fff;
}

.footer-info-cont {
	margin: 0 auto;
	width: 90%;
	max-width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.logo-footer {
	margin-left: 10px;
	text-align: center;
}

.icon-size-footer {
	font-size: 18px;
}

.footer-link {
	font-weight: 300;
}
.margin-link {
	margin-bottom: 10px;
}

.footer-link:hover {
	color: #d6ab55;
	cursor: pointer;
}

.copyright-cont {
	width: 100%;
	background-color: rgba(18, 18, 18, 0.97);
	color: #fff;
	margin: 0;
	padding: 5px;
}

.copyright-text {
	font-size: 12px;
	text-align: center;
}
.no-decoration{
	text-decoration: none;
	color: #000;
}

.no-decoration:hover {
	color: #d6ab55;
}

.no-link {
	text-decoration: none;
	color: #fff;
}

.no-link:hover {
	color: #d6ab55;
}

/* DEVELOPMENTS */
.header-port {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 550px;
	min-height: 550px;
	min-width: 100%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.development-background {
	background-image: url("../images/barrios.jpg");
}

.logo-devolps {
	position: absolute;
	top: 445px;
}

.vision-sect {
	margin-top: 60px;
	width: 100%;
	padding: 60px 5% 60px 5%;
}

.text-box {
	width: 60%;
	margin: 0 auto;
}


.image-dev-over-cont {
	position: relative;
}
.dev-img-cont {
	margin: 60px auto 0px auto;
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dev-img-bord {
	width: 300px;
	height: 300px;
	min-height: 300px;
	min-width: 300px;
	border-radius: 6px;
}

.over-see {
	width: 300px;
	height: 300px;
	background-color: #6413149b;
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.3s;
	opacity: 0;
	border-radius: 6px;
}

.over-see:hover {
	opacity: 1;
	cursor: pointer;
	transform: scale(1.1);
}

.see-dev {
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s;
	border-radius: 4px;
}

.aboutUs-img {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 550px;
	min-height: 550px;
	min-width: 100%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.aboutUs-background {
	background-image: url("../images/handshake.jpg");
}

/* ABOUT US */
.historia-cont {
	padding: 60px 5%;
}

.title-sub {
	border-bottom: 1px solid rgb(186, 186, 186);
	margin: 0;
	padding: 0;
}

.alberto-img {
	margin: 0 auto;
}

.contenido-hist {
	display: flex;
	align-items: center;
}

.history-cont {
	margin-left: 60px;
	width: 75%;
}

.center-text {
	text-align: center;
}

.history {
	margin-top: 20px;
}

.equipo-cont {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.member-cont {
	margin: 40px 100px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.team-img {
	max-width: 200px;
	max-height: 200px;
	margin-bottom: 20px;
}

/* CONTACT */

.contact-backgorung {
	background-image: url("../images/ContactImg.jpg");
}

.info-contact-cont {
	width: 50%;
	margin: 0 auto;
}

.info-item-contact {
	margin: 20px 20px 40px 20px;
}

.consults {
	margin-left: 80px;
}

.form-cont {
	margin-left: 80px;
}

.p-contact {
	margin-left: 30px;
}

.input-item-cont {
	margin: 20px 20px 40px 0px;
}

.input-style {
	background: #ededed;
	border: none;
	margin-bottom: 35px;
}

.input-style::placeholder {
	color: black;
}

.social-media-cont {
	margin-left: 20px;
	margin-right: 80px;
	display: flex;
	justify-content: space-between;
}

.block-cont {
	width: 100%;
	padding: 20px 0px;
}

/* APPRAISAL */

.appraisal-backgorung {
	background-image: url("../images/Contacting.jpg");
}

.appraisal-cont {
	padding: 60px 5%;
}

/* INDIVIDUAL DEVELOPMENT VIEW*/

.individaul-title {
	margin: 0 !important;
}

.dev-img-carousel {
	margin: 0;
	height: 540px;
	border-radius: 6px;
}

.carrousel-margin {
	margin-top: 30px;
}

.general-individual-info-cont {
	width: 100%;
	margin: 30px 0px !important;
	padding: 0 !important;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.individual-view-cont {
	border: 1px solid rgb(207, 207, 207);
	border-radius: 6px;
}

.description-and-details-cont {
	padding: 0px 30px 0px 0px !important;
}
.description-cont {
	padding: 10px 15px;
	height: auto;
	margin: 0 !important;
}
.details-cont {
	padding: 10px 15px;
	margin: 30px 0px 0px 0px !important;
	height: auto;
	flex-basis: 70%;
}
.extras-box-maker {
	background-color: #641315;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #fff;
	text-align: center;
	width: 90%;
}
.contact-inv-icons{
	color: #641315;
	margin-right: 15px;
}
.consult-buton-link{
	text-align: center;
}

.btn-asesor {
	margin: 40px auto;
	background-color: #641315;
	width: 200px;
	text-align: center;
	color: #fff;
	border-style: none;
	border-radius: 4px;
	font-size: 20px;
}

.btn-asesor:hover {
	border: 2px solid #d6ab55;
	color: #d6ab55;
}
.consult-buton-link-2{
	display: none;
	text-align: center;
	margin: 40px auto 0px auto;
	align-self: center;
}

.btn-final{
	background-color: #641315;
	width: 200px;
	text-align: center;
	color: #fff;
	border-style: none;
	border-radius: 4px;
	font-size: 20px;
}

.btn-final:hover{
	border: 2px solid #d6ab55;
	color: #d6ab55;
}

.info-contact-header{
	margin-bottom: 30px;
}
.contact-cont-ind{
	margin-top: 40px;
	overflow: hidden;
	
}
.extra-invidual {
	margin-bottom: 20px;
}
.more-properties-cont {
	padding: 10px 15px;
	max-height: auto;
}

.ubication-cont {
	padding: 10px 15px;
}

.description {
	margin-top: 10px;
}
.location-box {
	margin-top: 20px;
}
.no-available-map {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	background-color: #ededed;
	border-radius: 6px;
}

.margin-item-develo {
	margin-bottom: 20px;
}
.small-card-cont {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.small-card {
	display: flex;
	align-items: center;
	border-radius: 6px;
	margin-top: 10px;
	height: auto;
	width: 100%;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.small-card:hover {
	background-color: #ededed;
	cursor: pointer;
}

.small-card-img {
	width: 120px;
	height: 110px;
	max-width: 120px;
	max-height: 110px;
	min-width: 120px;
	min-height: 110px;
	border-radius: 6px;
	
}

.small-card-info {
	margin-left: 10px;
}

.prop-img-carousel {
	margin: 0;
	height: 540px;
	border-radius: 6px;
}

.carrousel-contact-info-cont {
	width: 100%;
	margin: 30px 0px !important;
	padding: 0px !important;
}

.contact-individual {
	height: auto;
	padding: 10px 15px;
}

.mobile-wallpaper {
	display: none;
	background-image: url(../images/mobile_wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}


/* FILTER SISTEM */
.filter-header-size {
	font-size: 20px;
}
.results{
	margin-bottom: 5px;
}

.header-options{
	margin-top: 10px;
	display: flex;
	align-items: flex-end;
}
.items-space{
	margin-right: 20px;
}
.option-cards-cont{
	display: flex;
	align-items: flex-start;
	padding: 0;
	margin: 0;
}
.section-filter-cont{
	height: auto;
	padding: 0;
	margin: 0;
}

.option-filter-cont{
	margin: 20px 20px 20px 0px;
	background-color: #ebebeb;
	border-radius: 6px;
	width: 28%;
	min-width: 348px;
	height: auto;
	padding: 10px 15px;
}
.cards-container-filter{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 20px;
}

.no-margin{
	margin: 0;
}

.no-filters{
	margin-top: 5px;
}

.option{
	height: auto;
}

.sidebar{
	margin-bottom: 200px;
}
.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}

.accordion .nav-item .nav-link{
	margin: 30px 0px !important;
	padding: 0 !important;
	text-decoration: none !important;
	display: flex;
	justify-content: space-between;
}
.accordion .nav-item .nav-link:hover{
	cursor: pointer;
}
.chip-cont{
	margin: 5px 0px;
}
.chip{
	background-color: #641315;
	border-radius: 20px;
	padding: 0px 10px;
	width: fit-content;
	min-width: fit-content;
	display: flex;
	align-items: flex-end;
	color: #fff;
	margin: 5px;
}

.chip-text{
	margin: 0;
	padding: 0;
}

.cancel-icon{
	margin-left: 7px;
}

input:checked{
	background-color: #641315 !important;
	border: 1px solid #d6ab55 !important;
}

.accordion .nav-item .nav-link:hover{
	color:#000 !important
}
.accordion .nav-item .nav-link:focus{
	color:#000 !important
}
.rotate{
	transform: rotate(90deg);
}

.title-subcategory{
	margin-top: 10px;
}

.pagination{
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}
.current{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #641315;
	color: #fff;
	width: 20px;
	height: 20px;
	margin: 0px 5px;
	
}
.digit a{
	text-decoration: none;
	color: #000;
	margin: 0px 5px;
}
.digit a:hover{
	color: #d6ab55;
}
.see-more-link{
	text-decoration: none;
}
.no-property-message{
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.not-found-cont{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}

.not-found-img{
	width: 500px;
	height: 450px;
}
.no-found-text{
	margin: 20px;
	text-align: center;
	font-weight: 500;
}
.btn-add-filters{
	background-color: #641314de;
	color: #fff;
	border-radius: 4px;
	padding: 1px 5px;
	margin: 5px;
	display: none;
	
}

@media only screen and (max-width: 900px) {
	/* Footer */
	.links-footer {
		display: none;
	}
	.footer-info-cont {
		display: block;
	}

	/* HOME */
	.development-card {
		display: block;
		text-align: center;
	}
	.dev-img {
		width: 100%;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-bottom-left-radius: 0px;
	}
	.dev-img-reverse {
		width: 100%;
		border-top-left-radius: 6px;
		border-bottom-right-radius: 0px;
	}
	.dev-info {
		margin-top: 10px;
		align-items: center;
		width: 90%;
	}

	.dev-info-reverse {
		margin-top: 10px;
		align-items: center;
		width: 90%;
	}

	.dev-description {
		text-align: center;
	}
	.margin-dev-btn {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.contact-container {
		width: 90%;
	}
	.dev-img-cont {
		justify-content: center;
		flex-wrap: wrap;
		width: 90%;
	}
	.text-box {
		width: 90%;
	}
	.dev-img-bord {
		margin-bottom: 20px;
	}
	.info-contact-cont {
		width: 80%;
	}
	.history-cont {
		margin-top: 20px;
	}
	.btn-add-filters{
		display: block;
}
	.item-filter-system{
		display: block !important;
	}
	.header-options{
		margin-top: 20px;
		justify-content: space-between;
		align-items: baseline;
		margin-left: 12px;
		margin-right: 3px;
	}
	.cards-container-filter{
		justify-content: center;
		margin: 20px auto;
	}
}

@media only screen and (max-width: 750px) {
	/* service section */
	.description-icon {
		font-size: 12px;
	}
	.service-icons {
		width: 40px;
		height: 40px;
	}

	.eslogan-1 {
		width: 90%;
		font-size: 16px;
	}

	.home-cards-container {
		justify-content: center;
	}

	.search-cont {
		display: none;
	}

	.contenido-hist {
		display: block;
	}
	.form-cont {
		margin: 60px auto;
		width: 90%;
		text-align: center;
	}
	.consults {
		margin: 0 auto;
	}
	.social-media-cont {
		width: 100%;
		justify-content: flex-start;
		text-align: start;
		display:block;
		margin: 30px 0px 10px 0px;
	}
	.social-text{
		margin-bottom: 15px;
	}
	.mobile-wallpaper {
		display: block;
	}
	.carrousel-img {
		display: none !important;
	}
	.opacity-layer {
		background: rgba(0, 0, 0, 0.1);
	}
	.aboutUs-background {
		background-image: url("../images/nosotrosMobile.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.appraisal-backgorung {
		background-image: url("../images/tasacionesMobile.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.contact-backgorung {
		background-image: url("../images/contactMobile.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.contact-individual{
		display: none;
	}
	.more-properties-cont{
		display: none;
	}
	.description-and-details-cont{
		width: 100%;
		padding: 0 !important;
	}
	.consult-buton-link-2{
		display: block;
		
	}
	.prop-img-carousel{
		height: 340px;
	}
	.dev-img-carousel {
		height: 340px;
	}
	.header-text-2{
		text-align: center;
	}
	.about-us-title {
		text-align: center;
	}
	.history-cont{
		margin: 20px auto;
	}
	.contenido-hist{
		text-align: center;
		margin: 0px auto;
	}
	.p-contact{
		margin: 0 auto;
	}
	
	.info-item-contact{
		margin: 20px auto;
		text-align: start;
	}
	.form-cont{
		margin: 40px auto;
	}
	.input-item-cont{
		margin: 5px auto 20px auto;
	}
	.option-cards-cont{
		justify-content: center;
	}
	.not-found-img{
		width: 300px;
		height: 250px;
	}
}
